# Don't track RStudio files
.Rproj.user
.Rhistory
.RData
.Ruserdata

# Don't track html files
*.html

# Don't track introductory files
*/0_Introduction.Rmd

# Don't track backup .bib-files
bibliography.bib.sav
bibliography.bib.bak
