# Gitignore of the Statistical Analyses Project

################################################################################
# Files
################################################################################

# Do not track backup files
*~
# Don't track backup .bib-files
bibliography.bib.sav
bibliography.bib.bak
