/* ------------------------------------------------------------ */
/* Statistical Analyses CSS File */
/* ------------------------------------------------------------ */

/* This is the CSS file used for every produced HTML file. */

/* ------------------------------------------------------------ */
/* * General Behavior */
/* ------------------------------------------------------------ */
html {
    scroll-behavior: smooth;
}

/* ------------------------------------------------------------ */
/* * Structure Settings */
/* ------------------------------------------------------------ */

/* -------------------- */
/* ** Table of Contents */
/* -------------------- */
#table-of-contents{
    position:fixed;
    top: 0;
    left: 0;
    width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100%;
    /* background:#343131; */
    z-index: 200;
    /* scrollbar-base-color: #1F1D1D; */
    /* scrollbar-arrow-color: #b3b3b3; */
    /* scrollbar-shadow-color: #1F1D1D; */
    /* scrollbar-track-color : #343131; */
}

/* nav {  */
/*     position: fixed;  */
/*     top: 0;  */
/* }  */

/* ------------------------------------------------------------ */
/* * Tables */
/* ------------------------------------------------------------ */
table {
    border-collapse: collapse;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* margin: 20px; */
}

/* ** Table Subheading */
thead {
    border-bottom: 2px solid black;
}

th, td {                        /*th = table header row*/
    padding: 10px
}

/* ------------------------------------------------------------ */
/* * Print Settings */
/* ------------------------------------------------------------ */

/* @media print { */

/* } */
